@model Tuple<TestFactory.Business.Models.Student, IList<TestFactory.Business.Models.Category>, TestFactory.Business.Models.Group>
@{
    Layout = null;
}
@using System.Collections.Generic;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@Model.Item1.FirstName @Model.Item1.LastName</title>
    <style>
        .borderTable {
            border-top: solid 1px;
            padding: 10px;
        }
        .borderLeftTable {
            border-left: solid 1px;
            border-top: solid 1px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div style="width: 60%; margin: 0 20%">
        @{    //sort Marks
                        var mas = Model.Item1.Marks;
                        int s = -1;
                        int maxi = 0;
                        for (int j = 0; j < Model.Item1.Marks.Count; j++)
                        {
                            for (int i = 0; i < Model.Item1.Marks.Count - 1; i++)
                            {
                                if (Model.Item1.Marks[i].Value > maxi)
                                {
                                    maxi = Model.Item1.Marks[i].Value;
                                }
                                if (Model.Item1.Marks[i].Value * s > Model.Item1.Marks[i + 1].Value * s)
                                {
                                    var temp = Model.Item1.Marks[i];
                                    Model.Item1.Marks[i] = Model.Item1.Marks[i + 1];
                                    Model.Item1.Marks[i + 1] = temp;
                                    
                                }
                            }
                        }
                        
                    }
        <h2 style="text-align: center;">@{ var t = Model.Item1.FirstName + " " + Model.Item1.LastName + " (" + Model.Item3.ShortName + ")";} @t</h2>
        <div>
                @{Html.RenderAction("GenerateChart", "File", new { student = Model.Item1, category = Model.Item2});}
                <div style="float: left; display: inline; line-height: 1.5; margin-left: 20px; margin-top: 40px;">
                    @foreach(var mark in Model.Item1.Marks)
                    {
                        foreach (var type in Model.Item2)
                        {
                            if(mark.CategoryId == type.Id)
                            {
                                <div>@type.Code - @mark.Value% - @type.Name</div>
                            }
                        }
                    }
                </div>
        </div>
        <div style="width: 800px; margin: 0 auto;">
        
            <div style="width: 100%; overflow: hidden; line-height: 1.5;">
                @foreach(var mark in Model.Item1.Marks)
                {
                    foreach (var type in Model.Item2)
                    {
                        if(mark.CategoryId == type.Id)
                        {
                            var typ = type.Name + " тип";
                            <h3 style="text-align: center">@typ</h3>
                            if(mark.Value == maxi)
                            {
                                <div><strong>Близькі типи:</strong>  @type.ACloseTypes</div>
                                <div><strong>Протилежний тип:</strong> @type.OppositeType.</div>
                            }
                            <div>
                                 <strong>Характерні особливості:</strong>
                                <ul>
                                 @{
                                    string[] spl = type.Features.Split(new Char[] { ';' });

                                    for (int i = 0; i < spl.Length; i++)
                                    {
                                                    <li>@spl[i]</li>
                                    }
                                 }
                                </ul>
                            </div>
                            <div>
                                <strong>Надається перевага професії</strong>
                                @type.PreferredAreasOfActivity
                            </div>
                            if(mark.Value == maxi)
                            {
                                    <div>
                                    <strong>Детальний опис</strong>
                                    @type.Details

                                    </div>
                    
                                <table class="striped" style="width: 600px;">
                                    <thead>
                                      <tr>
                                          <th data-field="id" style="text-align: center;">Людям типу "@type.Name" подобається</th>
                                          <th style="border-left: solid 1px; text-align: center;" data-field="name">Люди типу "@type.Name" цінують</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td class="borderTable">
                                            <ul>
                                                     @{
                                                            string[] splLike = type.Likes.Split(new Char[] { ';' });

                                                            for (int i = 0; i < splLike.Length; i++)
                                                            {
                                                                            <li>@splLike[i]</li>
                                                            }
                                                     }
                                            </ul>
                                        </td>
                                        <td class="borderLeftTable">
                                            <ul>
                                                @{
                                                    string[] splAppreciate = type.Appreciate.Split(new Char[] { ';' });

                                                    for (int i = 0; i < splAppreciate.Length; i++)
                                                        {
                                                                        <li>@splAppreciate[i]</li>
                                                        }
                                                }
                                            </ul>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                             }       
                        }
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>
