@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Word Document</title>
    <link rel="stylesheet" href="D:\Projects\TestFactory23.09\TestFactory\Content\Site.css">
    <link rel="stylesheet" href="D:\Projects\TestFactory23.09\TestFactory\Content\materialize\css\materialize.min.css">
    <script src="D:\Projects\TestFactory23.09\TestFactory\Scripts\Index.js"></script>
    <script src="D:\Projects\TestFactory23.09\TestFactory\Scripts\groupList.js"></script>
    <style>

    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>