<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/x-icon">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/materialize/css/materialize.min.css")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Typeahead/css")
        @Styles.Render("~/Content/themes/base/minified/jquery-ui.min.css")

    </head>
    <body>

        <noscript><h3 class="error-massage">@GlobalRes_ua.offJavascript</h3></noscript>
        <h3 id="error-cookie" class="error-massage">@GlobalRes_ua.offCookie</h3>
        <header >
            <nav class=" blue-grey darken-1" style="position: fixed; top: 0">
                <div class="nav-wrapper">
                    <div class="left">
                        @if (User.IsInRole(RoleNames.Filler))
                        {
                            <a href=@Url.RouteUrl("Default") class="left brand-logo">Test-Factory</a>
                        }
                        else if(User.IsInRole(RoleNames.Editor))
                        {
                            <a href="/students/all" class="left brand-logo">Test-Factory</a>
                        }
                        else
                        {
                            <a href=@Url.RouteUrl("facultyList") class="left brand-logo">Test Factory</a>
                        }
                    </div>
                    <div class="right">
                        <a href="#" data-activates="mobile-nav" class="right button-collapse"><i class="mdi-navigation-more-vert"></i></a>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="~/search"><i class="material-icons">search</i></a></li>
                            <li><a href="#">@User.Identity.Name</a></li>
                            <li>@Html.RouteLink(GlobalRes_ua.exit, "LogOut", null)</li>
                        </ul>
                    }
                    else
                    {
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>@Html.RouteLink(GlobalRes_ua.entry, "login", null)</li>
                        </ul>
                    }
                </div>
            </nav>
        </header>

        <div id="content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
        @Scripts.Render("~/Scripts/materialize/materialize.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/typeahead")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/Index.js")
        @RenderSection("scripts", required: false)
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>    
        <script>
        $(document).ready(function () {
        if (!navigator.cookieEnabled) {
            $("#error-cookie").css("display", "block");
        }  
         });
        </script>
    </body>
</html>

