@model TestFactory.Business.Models.Group

@using (Html.BeginForm("CreateGroup", "Home", FormMethod.Post, new { @class = "addForm", @role = "form" }))
{ 
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.FullName)
    @Html.EditorFor(m => m.FullName)
    @Html.ValidationMessageFor(m => m.FullName)

    @Html.LabelFor(m => m.FullName)
    @Html.EditorFor(m => m.FullName)
    @Html.ValidationMessageFor(m => m.FullName)

    
   
    <button type = "submit"  class="btn btn-primary right waves-effect waves-light teal accent-4">Сохранить</button>
    <input type = "button"  class="btn btn-default right waves-effect waves-light" value="Отменить" />
}