    @{
        ViewBag.Title = "List";
    }

    <div >
        <form>
            <h3>Admin</h3>
            <table class="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
                <thead class="headerTbSudent">
                    <tr class="noselect">
                        <th >
                                <a class="btn-flat  sort-link">Faculty</a>
                        </th>
                        <th >
                            <a class="btn-flat  sort-link">Filler email</a>
                        </th>
                        <th>
                            <a class="btn-flat  sort-link">Filler password</a>
                        </th>
                        <th>
                            <a class="btn-flat  sort-link">Editor email</a>
                        </th>
                        <th>
                            <a class="btn-flat  sort-link">Editor password</a>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <span></span>
                        </td>
                        <td >
                            <input type="email"
                                   data-position="bottom"
                                   data-bind="textInput: $root.userForCreateFiller().email, tooltip: { message: $root.userForCreateFiller().email.error }"
                                   maxlength="50"
                                   placeholder="@GlobalRes_ua.name" />
                        </td>
                        <td>
                            <input type="password"
                                   data-position="bottom"
                                   data-bind="textInput: $root.studentForCreate().password,  tooltip: { message: $root.studentForCreate().password.error }"
                                   maxlength="255"
                                   placeholder="@GlobalRes_ua.surname" />
                        </td>
                        <td>
                            <input type="email"
                                   data-position="bottom"
                                   data-bind="textInput: $root.userForCreateEditor().firstName, tooltip: { message: $root.userForCreateEditor().firstName.error }"
                                   maxlength="50"
                                   placeholder="@GlobalRes_ua.name" />
                        </td>
                        <td>
                            <input type="password"
                                   data-position="bottom"
                                   data-bind="textInput: $root.userForCreateEditor().password,  tooltip: { message: $root.userForCreateEditor().password.error }"
                                   maxlength="255"
                                   placeholder="@GlobalRes_ua.surname" />
                        </td>
                        
                        <td colspan="3" class="screenMediaAbove ">
                            <button class="btn btn-success  " data-bind="click: $root.saveAddedStudent">@GlobalRes_ua.save</button>
                        </td>
                        <td colspan="3" class="screenMediaBelow ">
                            <a class="btn  btn-success" data-bind="click: $root.saveAddedStudent"><img src="~/Content/images/document_save.png" /></a>
                        </td>
                    </tr>

                </thead>
                <tr>
                    <td colspan="7">
                        <!-- ko if: $root.preloader() -->
                        <div class="progress ">
                            <div class="indeterminate"></div>
                        </div>
                        <!-- /ko -->
                    </td>
                </tr>
                <tbody class="bodyTbStudent" data-bind="foreach: users">
                    <div style="width: 100%; height: 160px; "></div>
                    <!-- ko if: mode() == $root.mods.display -->
                    <tr>
                        <td><span class="last-name-display" data-bind="text: lastName, tooltipOverflow: { message: lastName }"></span></td>
                        <div class="fakeDiv"></div>
                        <td><span class="first-name" data-bind="text: firstName,  tooltipOverflow: { message: firstName }"></span></td>
                        <!-- ko foreach: marks -->
                        <td class="marks" data-bind="text: value" max="100  "></td>
                        <!-- /ko -->
                        @if (User.IsInRole(Resources.RoleNames.Filler))
                        {
                            <td class="screenMediaBelow ">
                                <a class="  btn btn-size btnStudent" data-bind="click: $root.editStudent"><img src="~/Content/images/edit.png" /></a>
                            </td>

                            <td class="screenMediaAbove ">
                                <a class="  btn  btn-size btnStudent " data-bind="click: $root.editStudent">@GlobalRes_ua.edit</a>
                            </td>
                        }
                        <td class="screenMediaBelow ">
                            <a class="btn btn-size btnStudent" data-bind="attr:{id: id, href: id}"><img src="~/Content/images/down.png" /></a>
                        </td>
                        <td class="screenMediaAbove ">
                            <a class="btn btnStudent btn-size" data-bind="attr:{id: id, href: id}">@GlobalRes_ua.download</a>
                        </td>
                        @if (User.IsInRole(Resources.RoleNames.Filler))
                        {
                            <td class="screenMediaBelow">
                                <a class="  btn  btn-size btnStudent " data-bind="click: $root.deleteStudent"><img src="~/Content/images/delete.png" /></a>
                            </td>

                            <td class="screenMediaAbove">
                                <a class="  btn  btn-size btnStudent " data-bind="click:$root.deleteStudent">@GlobalRes_ua.delete</a>
                            </td>

                            <div id="delete-student" title="@GlobalRes_ua.delete">
                                <p>@GlobalRes_ua.conformationOnDeleteStudent</p>
                            </div>
                        }
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: mode() == $root.mods.edit -->
                    <tr>
                        <td class="last-name edit"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().lastName,  tooltip: { message: $root.studentForUpdate().lastName.error }" maxlength="60" /></td>
                        <td class="first-name edit "><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().firstName,  tooltip: { message: $root.studentForUpdate().firstName.error }" maxlength="60" /></td>
                        <!-- ko foreach: $root.studentForUpdate().marks -->
                        <td class="marks edit "><input type="text" data-position="bottom" data-bind="textInput: value,  tooltip: { message: value.error }" max="100" /></td>
                        <!-- /ko -->
                        <td colspan="3" class="screenMediaBelow ">
                            <a class="btn btn-size btnStudent " data-bind="click: $root.saveEditedStudent"><img src="~/Content/images/document_save.png" /></a>
                        </td>
                        <td colspan="3" class="screenMediaAbove ">
                            <a class=" btn btnStudent " data-bind="click: $root.saveEditedStudent">@GlobalRes_ua.save</a>
                        </td>
                    </tr>
                    <!-- /ko -->

                </tbody>
            </table>
        </form>

    </div>
    </div>
    @section Scripts{
        <script>
        var globalView = null;
        $(document).ready(function() {
            var viewModel = new StudentsViewModel();
            globalView = viewModel;
            ko.applyBindings(viewModel);

        });

        </script>
    }
