@model StudentViewModel
<tr>
        <td>@Html.EditorFor(model => model.FirstName, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.LastName, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[0].Value, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[1].Value, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[2].Value, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[3].Value, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[4].Value, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(model => model.Marks[5].Value, new { @class = "form-control" })</td>
</tr>
}