@Styles.Render("~/Students/css")
<div id = "selectors">
    <div id = "group-filter">
        <p class="dropdown">Фільтр по групам </p><select  data-bind="options: groupNames, value:searchByStudentsGroups, optionsCaption: 'Усі', valueupdate:'onkeydown'"></select></p>
    </div>
        <div id="year-filter">
            <p class="dropdown">по старту навчання <select data-bind="options: groupYears, value:searchByStudentsYearOfStartEducation, optionsCaption:'Усі',valueupdate:'onkeydown'"></select></p>
        </div>
    </div>
        <form>
            <table id="tbStudentList" >
                <thead>
                    <tr class="noselect">
                        <th class="last-name">
                            <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                            <!-- ko if: $root.sortKey() == "lastName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <th class="first-name">
                            <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                            <!-- ko if: $root.sortKey() == "firstName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <th class="group">
                            <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('groupShortName'); } ">@GlobalRes_ua.group</a> 
                            <!-- ko if: $root.sortKey() == "groupShortName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <!-- ko foreach: $root.categories -->
                        <th class="marks center">
                            <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                            <!-- ko if: $root.sortKey() == $data.code() -->
                            <span data-bind="css: $root.selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <!-- /ko -->
                    </tr>
                    <tr >
                        <td colspan="3">@GlobalRes_ua.averageMarks </td>
                        <!-- ko foreach: $root.categories -->
                        <td class="marks center" data-bind="text: average"></td>
                        <!-- /ko -->

                    </tr> 
                    <tr >
                        <td colspan="3">@GlobalRes_ua.standardDeviationMarks </td>
                        <!-- ko foreach: $root.standardDeviation -->
                        <td class="marks center" data-bind="text: $data"></td>
                        <!-- /ko -->
                    </tr>                             
                </thead>
                <tr >
                    <td colspan="9">
                        <!-- ko if: $root.preloader() -->
                        <div class="progress ">
                            <div class="indeterminate"></div>
                        </div>
                        <!-- /ko -->
                    </td>
                </tr>
                <tbody data-bind="foreach: filteredRecords2">

                    <tr>
                        <td class="last-name" data-bind="text: lastName"></td>
                        <td class="first-name" data-bind="text: firstName"></td>
                        <td class="group-name" data-bind="text: groupShortName"></td>
                        <!-- ko foreach: marks -->
                        <td>
                            <table>
                                <tr>
                                    <td class="marks studentMark" data-bind="text: value" style="font-size: 1.3em; text-align: center; padding: 10px 0 0 0;"></td>
                                    
                                </tr>
                                <tr>
                                    <td class="studentMarkDetails">
                                            <label class="greenText" data-bind="text: averageDeviation, style: { color: averageDeviation() < 0 ? 'coral' : 'seagreen' }"></label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

@section Scripts{
<script>
    $('.tooltipped').tooltip({ delay: 50 });
    var globalView = null;
    $(document).ready(function () {
        var viewModel = new StudentsAllViewModel("lastName");
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });
</script>
}

   