@Styles.Render("~/Students/css")

    <div id="group-filter">
          Фільтр по старту навчання <select data-bind="options: groupYears, value:searchByStudentsYearOfStartEducation, optionsCaption:'Оберіть рік',valueupdate:'onkeydown'"></select>
            по групам <select data-bind="options: uniqueGroupNames, value:searchByStudentsGroups, optionsCaption: 'Оберіть групу', valueupdate:'onkeydown'"></select>
        <span id="clearFilter" data-bind="click: resetDropdowns">Очистити фільтри</span>
        </div>
<div>
    <div class="button-block">
                <div class="table-menu description-buttons">Оцінки:</div>
                <div class="table-menu table-menu-button subject-button" onclick="Holland()">Предмети</div>
                <div class="table-menu table-menu-button test-button" onclick="Subjects()" style="background-color: gainsboro">Тест Холланда</div>
            </div>
        <form style="overflow-x: auto">
            <table id="tbStudentList" class="border-table">
                <thead>
                    <tr class="noselect border-table-tr">
                        <th class="last-name center-text">
                            <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                            <!-- ko if: $root.sortKey() == "lastName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <th class="first-name center-text">
                            <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                            <!-- ko if: $root.sortKey() == "firstName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <th class="group center-text">
                            <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('groupShortName'); } ">@GlobalRes_ua.group</a> 
                            <!-- ko if: $root.sortKey() == "groupShortName" -->
                            <span data-bind="css: selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <!-- ko foreach: $root.categories -->
                        <th class="content-test marks center">
                            <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                            <!-- ko if: $root.sortKey() == $data.code() -->
                            <span data-bind="css: $root.selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </th>
                        <!-- /ko -->
                        <!-- ko foreach: $root.subjects -->
                        <th class="subjects content-subjects">
                            <a class="btn-flat sort-link" data-bind="text: Name"></a>
                            
                        </th>
                        <!-- /ko -->
                    </tr>
                    <tr class="content-test">
                        <td colspan="3">@GlobalRes_ua.averageMarks </td>
                        <!-- ko foreach: $root.categories -->
                        <td class="marks center" data-bind="text: average"></td>
                        <!-- /ko -->

                    </tr> 
                    <tr class="content-test">
                        <td colspan="3">@GlobalRes_ua.standardDeviationMarks </td>
                        <!-- ko foreach: $root.standardDeviation -->
                        <td class="marks center" data-bind="text: $data"></td>
                        <!-- /ko -->
                    </tr>                             
                </thead>

                <tr >
                    <td colspan="9" class="preloader-content">
                        <!-- ko if: $root.preloader() -->
                        <div class="progress ">
                            <div class="indeterminate"></div>
                        </div>
                        <!-- /ko -->
                    </td>
                </tr>
                <tbody data-bind="foreach: filteredRecords2" class="student-content">

                    <tr class="allStudents">
                        <td class="cels-padding last-name " data-bind="text: lastName"></td>
                        <td class="cels-padding first-name " data-bind="text: firstName"></td>
                        <td class="cels-padding group-name " data-bind="text: groupShortName"></td>
                        <!-- ko foreach: marks -->
                        <td class="content-test">
                            <table>
                                <tr>
                                    <td class="marks studentMark" data-bind="text: value" style="font-size: 1.3em; text-align: center; padding-top: 3px"></td>
                                   
                                </tr>
                                <tr>
                                    <td class="studentMarkDetails" style="padding-bottom: 4px;">
                                            <label class="greenText" data-bind="text: averageDeviation, style: { color: averageDeviation() < 0 ? 'coral' : 'seagreen' }"></label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- /ko -->
                        @*<!-- ko foreach: $root.subjectsMarks -->
                        <td class="subjectsMarks" data-bind="text: Value"></td>
                        <!-- /ko -->*@
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

@section Scripts{
<script>
    $('.tooltipped').tooltip({ delay: 50 });
    var globalView = null;
    function Holland() {
        $('.content-test').hide();
        $('.content-subjects').show();
        $('.subject-button').css('background-color', 'gainsboro');
        $('.test-button').css('background-color', 'transparent');
    }
    function Subjects() {
        $('.content-test').show();
        $('.content-subjects').hide();
        $('.test-button').css('background-color', 'gainsboro');
        $('.subject-button').css('background-color', 'transparent');
    }
    $(document).ready(function () {
        var viewModel = new StudentsAllViewModel("lastName");
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });
</script>
}

   