@model TestFactory.MVC.ViewModels.GroupViewModel

@Styles.Render("~/Students/css")
<div>
    <form>
        <h3 id="groupName" data-bind="text: $root.group.fullName"></h3>
        <table id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
            <thead>
                <tr class="noselect">
                    <th class="last-name">
                        <div class="triangle-wrapper">
                            <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                            <!-- ko if: $root.sortKey() == "lastName" -->
                            <div data-bind="css: selectedClassForSortedField"></div>
                            <!-- /ko -->
                        </div>
                    </th>
                    <th class="first-name">
                        <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                        <!-- ko if: $root.sortKey() == "firstName" -->
                        <span data-bind="css: selectedClassForSortedField"></span>
                        <!-- /ko -->
                    </th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks">
                        <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                        <!-- ko if: $root.sortKey() == $data.code() -->
                        <div data-bind="css: $root.selectedClassForSortedField"></div>
                        <!-- /ko -->
                    </th>
                    <!-- /ko -->
                </tr>
                @if (User.IsInRole(RoleNames.Filler))
                { 
                    <tr>
                        <td class="last-name">
                            <input type="text"
                                   data-position="bottom"
                                   data-bind="textInput: $root.studentForCreate().lastName,  tooltip: { message: $root.studentForCreate().lastName.error }"
                                   maxlength = "69"
                                   placeholder="@GlobalRes_ua.surname" />
                        </td>
                        <td class="first-name">
                            <input type="text"
                                   data-position="bottom"
                                   data-bind="textInput: $root.studentForCreate().firstName, tooltip: { message: $root.studentForCreate().firstName.error }"
                                   maxlength="69"
                                   placeholder="@GlobalRes_ua.name" />
                        </td>
                        <!-- ko foreach: $root.studentForCreate().marks -->
                        <td class="marks"><input type="text" data-bind="textInput: value,  tooltip: { message: value.error }" placeholder=" 0 " max="100" /></td>
                        <!-- /ko -->
                        <td colspan="3" class="screenMediaAbove ">
                            <button class="btn btn-success  " data-bind="click: $root.saveAddedStudent">@GlobalRes_ua.save</button>
                        </td>
                        <td colspan="3" class="screenMediaBelow ">
                            <a class="btn  btn-success" data-bind="click: $root.saveAddedStudent"><img src="~/Content/images/document_save.png" /></a>

                        </td>
                    </tr>
                }
            </thead>
            <tr>
                <td colspan="9">
                    <!-- ko if: $root.preloader() -->
                    <div class="progress ">
                        <div class="indeterminate"></div>
                    </div>
                    <!-- /ko -->
                </td>
            </tr>
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="last-name" data-bind="text: lastName"></td>
                    <td class="first-name" data-bind="text: firstName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" max="100  "></td>
                    <!-- /ko -->
                  @if (User.IsInRole(RoleNames.Filler))
                {
                            <td class="screenMediaBelow ">
                                <a class="  btn btn-size btnStudent" data-bind="click: $root.editStudent"><img src="~/Content/images/edit.png" /></a>
                            </td>

                        <td class="screenMediaAbove ">
                             <a class="  btn  btn-size btnStudent " data-bind="click: $root.editStudent">@GlobalRes_ua.edit</a>
                        </td>
                  }       
                        <td class="screenMediaBelow ">
                            <a class="btn btn-size btnStudent" data-bind="attr:{id: id, href: id}"><img src="~/Content/images/down.png" /></a> 
                        </td>
                        <td class="screenMediaAbove ">
                            <a class="btn btnStudent btn-size" data-bind="attr:{id: id, href: id}">@GlobalRes_ua.download</a>
                        </td>
                    @if (User.IsInRole(RoleNames.Filler))
                {
                    <td class="screenMediaBelow">
                        <a class="  btn  btn-size btnStudent " data-bind="click: $root.deleteStudent"><img src="~/Content/images/delete.png" /></a>
                    </td>
              
                    <td class="screenMediaAbove">
                        <a class="  btn  btn-size btnStudent " data-bind="click:$root.deleteStudent">@GlobalRes_ua.delete</a>
                    </td>
                    
                    <div id="delete-student" title="@GlobalRes_ua.delete">
                        <p>@GlobalRes_ua.conformationOnDeleteStudent</p>
                    </div>
                 }
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td class="last-name edit"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().lastName,  tooltip: { message: $root.studentForUpdate().lastName.error }" maxlength="255" /></td>
                    <td class="first-name edit "><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().firstName,  tooltip: { message: $root.studentForUpdate().firstName.error }" maxlength="255" /></td>
                    <!-- ko foreach: $root.studentForUpdate().marks -->
                    <td class="marks edit "><input type="text" data-position="bottom" data-bind="textInput: value,  tooltip: { message: value.error }" max="100" /></td>
                    <!-- /ko -->
                    <td colspan="3" class="screenMediaBelow ">
                        <a class="btn btn-size btnStudent " data-bind="click: $root.saveEditedStudent"><img src="~/Content/images/document_save.png" /></a>
                    </td>
                    <td colspan="3" class="screenMediaAbove ">
                        <a class=" btn btnStudent " data-bind="click: $root.saveEditedStudent">@GlobalRes_ua.save</a>
                    </td>
                </tr>
                <!-- /ko -->              
            </tbody>
        </table>
    </form>

</div>
@section Scripts{
<script>
    var globalView = null;
    $(document).ready(function () {
        var group = @Html.Raw(Json.Encode(Model));
        var viewModel = new StudentsViewModel(group, "lastName");
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });

</script>
}

