@model IEnumerable<testfactory.mvc.viewmodels.groupviewmodel>
    @{
        ViewBag.Title = "ListStudents";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>List Students</h2>
    <p>
        @Html.ActionLink("Create New", "CreateStudent")
    </p>
    <table class="table">
        @foreach (var item in Model)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteGroup", new { id = item.Id })
                </td>
            </tr>
            }
        </table>

