@model TestFactory.MVC.ViewModels.GroupViewModel
<div class='liveExample'>
    
    <form action='/someServerSideHandler'>
        <h3 id="groupName" data-bind="text: $root.group.shortName"></h3>
        <table class="table" id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
            <thead>
                <tr>
                    
                    <th class="last-name">
                        <!-- ko if: $root.sortKey() == "lastName" -->
                        <span data-bind="css: selectedClassForSortedField"></span>
                        <!-- /ko -->
                        <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                        </th>
                    <th class="first-name">
                        <!-- ko if: $root.sortKey() == "firstName" -->
                        <div data-bind="css: selectedClassForSortedField"></div>
                        <!-- /ko -->
                         <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a></th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks" >
                        <!-- ko if: $root.sortKey() == $data.code() -->
                        <div data-bind="css: $root.selectedClassForSortedField"></div>
                        <!-- /ko -->
                       <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                    </th>
                    <!-- /ko -->
                </tr>
                @if (User.IsInRole("Filler"))
                { 
                <tr>
                    <td class="last-name">
                        <input type="text"
                               data-position="bottom"
                               data-bind="textInput: $root.studentForCreate().lastName,  tooltip: { message: $root.studentForCreate().lastName.error }"
                               maxlength=" 255"
                               placeholder="@GlobalRes_ua.surname" />
                    </td>
                    <td class="first-name">
                        <input type="text"
                               data-position="bottom"
                               data-bind="textInput: $root.studentForCreate().firstName, tooltip: { message: $root.studentForCreate().firstName.error }"
                               maxlength="255"
                               placeholder="@GlobalRes_ua.name" />
                    </td>
                    <!-- ko foreach: $root.studentForCreate().marks -->
                    <td class="marks"><input type="text" data-bind="textInput: value,  tooltip: { message: value.error }" placeholder=" 0 " max="100" /></td>
                    <!-- /ko -->
                    <td class="screenMediaAbove">
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent">@GlobalRes_ua.save</button>
                    </td>
                    <td class="screenMediaBelow">
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent"><img src="~/Content/images/document_save.png" /></button>
                    </td>
                </tr>
                }
            </thead>
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="last-name" data-bind="text: lastName"></td>
                    <td class="first-name" data-bind="text: firstName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" max="100  "></td>
                    <!-- /ko -->
                        @if (User.IsInRole("Filler"))
                        {
                            <td class="screenMediaBelow">
                                <button class="  btn editStudent bt-size btnStudent" data-bind="click: $root.editStudent"><img src="~/Content/images/edit.png" /></button>
                            </td>

                        }
                        <td class="screenMediaBelow">
                            <a class="  btn bt-size btnStudent" data-bind="attr:{id: id, href: id}"><img src="~/Content/images/down.png" /></a> 
                        </td>
                        @if (User.IsInRole("Filler"))
                        {
                            <td class ="screenMediaAbove">
                                <button class="  btn  bt-size  btnStudent" data-bind="click: $root.editStudent">@GlobalRes_ua.edit</button>
                            </td>
                        }
                        <td class="screenMediaAbove">
                            <a class="btn btnStudent bt-size" data-bind="attr:{id: id, href: id}">@GlobalRes_ua.download</a>
                        </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td class="last-name"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().lastName,  tooltip: { message: $root.studentForUpdate().lastName.error }" maxlength="255" /></td>
                    <td class="first-name"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().firstName,  tooltip: { message: $root.studentForUpdate().firstName.error }" maxlength="255" /></td>
                    <!-- ko foreach: $root.studentForUpdate().marks -->
                    <td class="marks"><input type="text" data-position="bottom" data-bind="textInput: value,  tooltip: { message: value.error }" max="100" /></td>
                    <!-- /ko -->
                    <td class="screenMediaBelow">
                        <button class="  btn bt-size btnStudent" data-bind="click: $root.saveEditedStudent"><img src="~/Content/images/document_save.png" /></button>
                    </td>
                    <td class="screenMediaAbove">
                        <button class=" btn  bt-size  btnStudent" data-bind="click: $root.saveEditedStudent">@GlobalRes_ua.save</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>


</div>
@section Scripts{
<script>
    var globalView = null;
    $(document).ready(function () {
        var group = @Html.Raw(Json.Encode(Model));
        var viewModel = new StudentsViewModel(group);
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });

</script>
}

   