@using TestFactory
@model GroupViewModel

@Styles.Render("~/Students/css")
<div class="popup__overlay">
    <ul class="side-nav fixed">
        <ul class="collapsible">
            <li class="ietmSidebar activeItem">
                <a class=" active collapsible-header  waves-effect waves-teal" href=" @Url.RouteUrl("groupStudentList", new { groupId = Model.Id }, null) ">Тест Холланда</a>
            </li>
            <li class="ietmSidebar">
                <a class="  collapsible-header  waves-effect waves-teal" href="#">Предмети</a>
                <div class="collapsible-body">
                    @if (User.IsInRole(Resources.RoleNames.Filler))
                    {
                        <a id="create" data-bind="click: $root.addSubject" class="dropItem collapsible-header waves-effect waves-teal modal-trigger">   +  Новий предмет</a>
                    }
                    <ul class="collection" data-bind="foreach: subjects">
                        <li>
                            <!-- ko if: mode() == $root.mods.display -->
                            @if (User.IsInRole(Resources.RoleNames.Filler))
                            {
                                <a data-bind="click: $root.editSubject" class="dropItem inlineSubject collapsible-header waves-effect waves-teal "><img src="~/Content/images/16edit.png" /></a>
                            }
                            <a data-bind="text: shortName, click: function(){ $root.redirectToMarksSubject(id);}" class="dropItem inlineSubject collapsible-header waves-effect waves-teal "></a>
                            <!-- /ko -->
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </ul>
    <div id="editSubject" class="modal" data-bind="validationOptions: {errorElementClass: 'invalid'}">
        
            <h4>Редагування предмета </h4>
        <div class="modal-content">
            <input id="subjectPicker" type="text"
                   data-position="bottom"
                   data-bind="textInput: $root.subjectForUpdate().longName ,validationOptions: {errorElementClass: 'invalid'},tooltip: { message: $root.subjectForUpdate().longName.error }"
                   maxlength="100"
                   placeholder="longName" />
            <input id="subjectPicker" type="text"
                   data-position="bottom"
                   data-bind="textInput: $root.subjectForUpdate().shortName ,validationOptions: {errorElementClass: 'invalid'},tooltip: { message: $root.subjectForUpdate().shortName.error }"
                   maxlength="15"
                   placeholder="shortName" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 createPop-Up">
                <a href="#!" class="btn grey btn-default declineCreate  modal-action modal-close waves-effect waves-green btn-flat">exit</a>
                <a href="#!" class="btn btn-default modal-action " data-bind="click: $root.saveEditedSubject">@GlobalRes_ua.save</a>
                </div>
            </div>
    </div>

    <div id="createSubject" class="modal " data-bind="validationOptions: {errorElementClass: 'invalid'}">

        <h4 >Створення предмета </h4>
        <div class="modal-content">
              @*TODO: add recourse*@
                <input id="subjectPicker" type="text"
                       data-position="bottom"
                       data-bind="textInput: $root.subjectForCreate().longName ,validationOptions: {errorElementClass: 'invalid'},tooltip: { message: $root.subjectForCreate().longName.error }"
                       maxlength="100"
                       placeholder="longName" />
            <input id="subjectPicker" type="text"
                   data-position="bottom"
                   data-bind="textInput: $root.subjectForCreate().shortName ,validationOptions: {errorElementClass: 'invalid'},tooltip: { message: $root.subjectForCreate().shortName.error }"
                   maxlength="15"
                   placeholder="shortName" />

            </div>
            @*TODO: add recourse*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 createPop-Up">
                <a href="#!" class="btn grey btn-default declineCreate  modal-action modal-close waves-effect waves-green btn-flat">exit</a>
                <a href="#!" class="btn btn-default modal-action " data-bind="click: $root.saveAddedSubject">@GlobalRes_ua.save</a>
            </div>
        </div>
        </div>

        <div>
            <form>
                <h3 id="groupName" data-bind="text: $root.group.fullName"></h3>
                <table id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
                    <thead>
                        <tr class="noselect">
                            <th class="last-name">
                                <div class="triangle-wrapper">
                                    <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                                    <!-- ko if: $root.sortKey() == "lastName" -->
                                    <div data-bind="css: selectedClassForSortedField"></div>
                                    <!-- /ko -->
                                </div>
                            </th>
                            <th class="first-name">
                                <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                                <!-- ko if: $root.sortKey() == "firstName" -->
                                <span data-bind="css: selectedClassForSortedField"></span>
                                <!-- /ko -->
                            </th>
                            <!-- ko foreach: $root.categories -->
                            <th class="marks">
                                <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                                <!-- ko if: $root.sortKey() == $data.code() -->
                                <div data-bind="css: $root.selectedClassForSortedField"></div>
                                <!-- /ko -->
                            </th>
                            <!-- /ko -->
                        </tr>
                        @if (User.IsInRole(Resources.RoleNames.Filler))
                        {
                            <tr>
                                <td class="last-name">
                                    <input type="text"
                                           data-position="bottom"
                                           data-bind="textInput: $root.studentForCreate().lastName,  tooltip: { message: $root.studentForCreate().lastName.error }"
                                           maxlength="69"
                                           placeholder="@GlobalRes_ua.surname" />
                                </td>
                                <td class="first-name">
                                    <input type="text"
                                           data-position="bottom"
                                           data-bind="textInput: $root.studentForCreate().firstName, tooltip: { message: $root.studentForCreate().firstName.error }"
                                           maxlength="69"
                                           placeholder="@GlobalRes_ua.name" />
                                </td>
                                <!-- ko foreach: $root.studentForCreate().marks -->
                                <td class="marks"><input type="text" data-bind="textInput: value,  tooltip: { message: value.error }" placeholder=" 0 " max="100" /></td>
                                <!-- /ko -->
                                <td colspan="3" class="screenMediaAbove ">
                                    <button class="btn btn-success  " data-bind="click: $root.saveAddedStudent">@GlobalRes_ua.save</button>
                                </td>
                                <td colspan="3" class="screenMediaBelow ">
                                    <a class="btn  btn-success" data-bind="click: $root.saveAddedStudent"><img src="~/Content/images/document_save.png" /></a>

                                </td>
                            </tr>
                        }
                    </thead>
                    <tr>
                        <td colspan="9">
                            <!-- ko if: $root.preloader() -->
                            <div class="progress ">
                                <div class="indeterminate"></div>
                            </div>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <tbody data-bind="foreach: students">
                        <!-- ko if: mode() == $root.mods.display -->
                        <tr>
                            <td class="last-name" data-bind="text: lastName"></td>
                            <td class="first-name" data-bind="text: firstName"></td>
                            <!-- ko foreach: marks -->
                            <td class="marks" data-bind="text: value" max="100  "></td>
                            <!-- /ko -->
                            @if (User.IsInRole(Resources.RoleNames.Filler))
                            {
                                <td class="screenMediaBelow ">
                                    <a class="  btn btn-size btnStudent" data-bind="click: $root.editStudent"><img src="~/Content/images/edit.png" /></a>
                                </td>

                                <td class="screenMediaAbove ">
                                    <a class="  btn  btn-size btnStudent " data-bind="click: $root.editStudent">@GlobalRes_ua.edit</a>
                                </td>
                            }
                            <td class="screenMediaBelow ">
                                <a class="btn btn-size btnStudent" data-bind="attr:{id: id, href: id}"><img src="~/Content/images/down.png" /></a>
                            </td>
                            <td class="screenMediaAbove ">
                                <a class="btn btnStudent btn-size" data-bind="attr:{id: id, href: id}">@GlobalRes_ua.download</a>
                            </td>
                            @if (User.IsInRole(Resources.RoleNames.Filler))
                            {
                                <td class="screenMediaBelow">
                                    <a class="  btn  btn-size btnStudent " data-bind="click: $root.deleteStudent"><img src="~/Content/images/delete.png" /></a>
                                </td>

                                <td class="screenMediaAbove">
                                    <a class="  btn  btn-size btnStudent " data-bind="click:$root.deleteStudent">@GlobalRes_ua.delete</a>
                                </td>

                                <div id="delete-student" title="@GlobalRes_ua.delete">
                                    <p>@GlobalRes_ua.conformationOnDeleteStudent</p>
                                </div>
                            }
                        </tr>
                        <!-- /ko -->

                    </tbody>
                </table>
            </form>

        </div>
    </div>
@section Scripts{
    <script>
        var globalView = null;
        $(document).ready(function() {
            var group = @Html.Raw(Json.Encode(Model));
            var viewModel = new StudentsViewModel(group, "lastName");
            globalView = viewModel;
            ko.applyBindings(viewModel);
        });

    </script>
}