@model TestFactory.MVC.ViewModels.GroupViewModel
<div class='liveExample'>
    
    
    <form action='/someServerSideHandler'>
        <h3 id="groupName" data-bind="text: $root.group.shortName"></h3>
        <table class="table" id="tbStudentList">
            <thead>
                <tr>
                    <th class="first-name">@GlobalRes_ua.name</th>
                    <th class="last-name">@GlobalRes_ua.surname</th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks" data-bind="text: code"></th>
                    <!-- /ko -->
                </tr>

                <tr>
                    <td class="first-name"><input type="text" required data-bind="textInput: $root.studentForCreate.firstName" maxlength="20" placeholder=" @GlobalRes_ua.name " /></td>
                    <td class="last-name"><input type="text" data-bind="textInput: $root.studentForCreate.lastName" maxlength="30" placeholder=" @GlobalRes_ua.surname" /></td>
                    <!-- ko foreach: $root.studentForCreate.marks -->
                    <td class="marks"><input type="text" data-bind="textInput: value" placeholder=" 0 " maxlength="3" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent">Додати</button>
                    </td>
                </tr>

            </thead>

            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="first-name" data-bind="text: firstName"></td>
                    <td class="last-name" data-bind="text: lastName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" maxlength="3"></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.editStudent">Змінити</button>
                    </td>
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.downloadReport">Завантажити</button>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td><input class="first-name"  type="text" data-bind="textInput: $root.studentForUpdate.firstName" maxlength="20" /></td>
                    <td><input class="last-name" type="text" data-bind="textInput: $root.studentForUpdate.lastName" maxlength="30" /></td>
                    <!-- ko foreach: $root.studentForUpdate.marks -->
                    <td class="marks"><input type="text" data-bind="textInput: value" maxlength="3" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveEditedStudent">Зберегти</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>


</div>
@section Scripts{
<script>
    $(document).ready(function () {
        var group = @Html.Raw(Json.Encode(Model));//'@(Model)';
        var viewModel = new StudentsViewModel(group);
        ko.applyBindings(viewModel);
    });

</script>
}

   