@model TestFactory.MVC.ViewModels.GroupViewModel
@Styles.Render("~/Students/css")
<div>
    <form>
        <h3 id="groupName" data-bind="text: $root.group.shortName"></h3>
        <table id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
            <thead>
                <tr class="noselect">
                    <th class="last-name">

                        <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                        <!-- ko if: $root.sortKey() == "lastName" -->
                        <div data-bind="css: selectedClassForSortedField"></div>
                        <!-- /ko -->
                    </th>
                    <th class="first-name">

                        <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                        <!-- ko if: $root.sortKey() == "firstName" -->
                        <span data-bind="css: selectedClassForSortedField"></span>
                        <!-- /ko -->
                    </th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks">

                        <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                        <!-- ko if: $root.sortKey() == $data.code() -->
                        <div data-bind="css: $root.selectedClassForSortedField"></div>
                        <!-- /ko -->
                    </th>
                    <!-- /ko -->
                </tr>
                                             @*averege marks*@
            </thead>
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="last-name" data-bind="text: lastName"></td>
                    <td class="first-name" data-bind="text: firstName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" max="100  "></td>
                    <!-- /ko -->
                            <td class="screenMediaBelow ">
                                <a class="  btn btn-size btnStudent" data-bind="click: $root.editStudent"><img src="~/Content/images/edit.png" /></a>
                            </td>

                        <td class="screenMediaAbove ">
                             <a class="  btn  btn-size btnStudent " data-bind="click: $root.editStudent">@GlobalRes_ua.edit</a>
                        </td>
                            
                        <td class="screenMediaBelow ">
                            <a class="btn btn-size btnStudent" data-bind="attr:{id: id, href: id}"><img src="~/Content/images/down.png" /></a> 
                        </td>
                        <td class="screenMediaAbove ">
                            <a class="btn btnStudent btn-size" data-bind="attr:{id: id, href: id}">@GlobalRes_ua.download</a>
                        </td>
                    <td class="screenMediaBelow">
                        <a class="  btn  btn-size btnStudent " data-bind="click: $root.deleteStudent"><img src="~/Content/images/delete.png" /></a>
                    </td>
              
                    <td class="screenMediaAbove">
                        <a class="  btn  btn-size btnStudent " data-bind="click:$root.deleteStudent">@GlobalRes_ua.delete</a>
                    </td>
                    
                    <div id="dialog" title="Видалити">
                        <p>Повернути сдутента після видалення буде неможливо. Ви дісно хочете його видалити?</p>
                    </div>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>

</div>
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
@section Scripts{
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script>

    var globalView = null;
    $(document).ready(function () {
        var group = @Html.Raw(Json.Encode(Model));
        var viewModel = new StudentsViewModel(group);
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });

</script>
}

   