@model TestFactory.MVC.ViewModels.GroupViewModel
<div class='liveExample'>
    
    <form action='/someServerSideHandler'>
        <h3 id="groupName" data-bind="text: $root.group.shortName"></h3>
        <table class="table" id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
            <thead>
                <tr>
                    <th class="last-name">@GlobalRes_ua.surname</th>
                    <th class="first-name">@GlobalRes_ua.name</th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks" data-bind="text: code"></th>
                    <!-- /ko -->
                </tr>
                @if (User.Identity.Name == "TF.Filler@ukr.net")
                { 
                <tr>
                    <td class="last-name">
                        <input type="text"
                               data-position="bottom"
                               data-bind="textInput: $root.studentForCreate().lastName,  tooltip: { message: $root.studentForCreate().lastName.error }"
                               maxlength=" 255"
                               placeholder=" @GlobalRes_ua.surname " />
                    </td>
                    <td class="first-name">
                        <input type="text"
                               data-position="bottom"
                               data-bind="textInput: $root.studentForCreate().firstName, tooltip: { message: $root.studentForCreate().firstName.error }"
                               maxlength="255"
                               placeholder="@GlobalRes_ua.name" />
                    </td>
                    <!-- ko foreach: $root.studentForCreate().marks -->
                    <td class="marks"><input type="text" data-bind="textInput: value,  tooltip: { message: value.error }" placeholder=" 0 " max="100" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent">Додати</button>
                    </td>
                </tr>
                }
            </thead>
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="last-name" data-bind="text: lastName"></td>
                    <td class="first-name" data-bind="text: firstName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" max="100  "></td>
                    <!-- /ko -->
                   @if (User.Identity.Name == "TF.Filler@ukr.net") 
                   { 
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.editStudent">Змінити</button>
                    </td>
                   }
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.downloadReport">Завантажити</button>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td class="last-name"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().lastName,  tooltip: { message: $root.studentForUpdate().lastName.error }" maxlength="255" /></td>
                    <td class="first-name"><input type="text" data-position="bottom" data-bind="textInput: $root.studentForUpdate().firstName,  tooltip: { message: $root.studentForUpdate().firstName.error }" maxlength="255" /></td>
                    <!-- ko foreach: $root.studentForUpdate().marks -->
                    <td class="marks"><input type="text" data-position="bottom" data-bind="textInput: value,  tooltip: { message: value.error }" max="100" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveEditedStudent">Зберегти</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>


</div>
@section Scripts{
<script>
    var globalView = null;
    $(document).ready(function () {
        var group = @Html.Raw(Json.Encode(Model));
        var viewModel = new StudentsViewModel(group);
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });

</script>
}

   