@Styles.Render("~/Students/css")

    <div id="group-filter">
          Фільтр по старту навчання <select data-bind="options: groupYears, value:searchByStudentsYearOfStartEducation, optionsCaption:'Оберіть рік',valueupdate:'onkeydown'"></select>
            по групам <select data-bind="options: uniqueGroupNames, value:searchByStudentsGroups, optionsCaption: 'Оберіть групу', valueupdate:'onkeydown'"></select>
        <span id="clearFilter" data-bind="click: resetDropdowns">Очистити фільтри</span>
        </div>
<div class="table-wrapper">
    <div class="button-block">
                <div class="table-menu description-buttons">Результати:</div>
                <div class="table-menu table-menu-button test-button" onclick="Holland()" style="background-color: gainsboro">Тест Холланда</div>
                <div class="table-menu table-menu-button subject-button" onclick="Subjects()">Предмети</div>
                <div class="table-menu table-menu-button subject-button" onclick="">Кореляція</div>
    </div>
    <div class="header-table">
            <div style="display: inline-flex; width: 30%">
                 <div class="last-name-all text-menu">
                    <a class="btn-flat  sort-link" data-bind="click: function () { $root.sortingByName('lastName'); } ">@GlobalRes_ua.surname </a>
                                <!-- ko if: $root.sortKey() == "lastName" -->
                                <span data-bind="css: selectedClassForSortedField"></span>
                                <!-- /ko -->
                </div>
                <div class="first-name-all text-menu">
                    <a class="btn-flat  sort-link" data-bind="click: function () { $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                                    <!-- ko if: $root.sortKey() == "firstName" -->
                                    <span data-bind="css: selectedClassForSortedField"></span>
                                    <!-- /ko -->
                </div>
                <div class="group-name-all text-menu">
                    <a class="btn-flat  sort-link" data-bind="click: function () { $root.sortingByName('groupShortName'); } ">@GlobalRes_ua.group</a>
                                    <!-- ko if: $root.sortKey() == "groupShortName" -->
                                    <span data-bind="css: selectedClassForSortedField"></span>
                                    <!-- /ko -->
                </div>
            </div>
            <div style="display: inherit; width: 70%;">

                <!-- ko foreach: $root.subjects -->
                        <div class="content- center categoryCode text-menu subjects content-subjects" style="display: none;">
                            <a class="btn-flat sort-link" data-bind="text: ShortName"></a>
                            
                        </div>
               <!-- /ko -->
                <!-- ko foreach: $root.categories -->
                        <div class="content-test center categoryCode text-menu">
                            <a class="btn-flat sort-link" data-bind="text: code, click: function () { $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                            <!-- ko if: $root.sortKey() == $data.code() -->
                            <span data-bind="css: $root.selectedClassForSortedField"></span>
                            <!-- /ko -->
                        </div>
               <!-- /ko -->
            </div>
    </div>
    <div class="content-test" style="border-bottom: 1px solid gainsboro;">
        <div class="calculation-line">
            <div class="averagemarks">
                        <div class="averageMarksNameColumn">@GlobalRes_ua.averageMarks</div>
                    </div>
        </div>
        
        <div class="calculation-line">
            <div class="mathematicalExpectation">
                         <div class="mathematicalExpectationNameColumn">@GlobalRes_ua.standardDeviationMarks </div>
                    </div>
        </div>
    </div>
        <div class="main_stat_table">
        <span class="left">
            <div data-bind="foreach: filteredRecords2">
                <div class="table-line-name-box" style="display: flex">
                    <div class="name-padding last-name-all"><div onmouseover=$(this).prop("title",$(this).html())  data-bind="text: lastName" style="overflow:hidden"></div></div>
                    <div class="name-padding first-name-all"><div onmouseover=$(this).prop("title",$(this).html())  data-bind="text: firstName" style="overflow:hidden"></div></div>
                    <div class="name-padding group-name-all"><div onmouseover=$(this).prop("title",$(this).html()) data-bind="text: groupShortName" style="overflow:hidden"></div></div>
                                    
                </div>
            </div>
        </span>
        <span class="center">
                        <span class="el content-test">
                    <div data-bind="foreach: filteredRecords2" style="width: 100%">
                        <div class="table-line-content">
                        
                        <!-- ko foreach: marks -->
                            <div class="inlineFlex">
                                                 <table>
                                                     <tbody class="markSubjectContent">
                                                            <tr>
                                                                <td class="marks studentMark" data-bind="text: value" style="font-size: 1.3em; text-align: center; padding-top: 0px;     padding-bottom: 0px;"></td>                                 
                                                            </tr>
                                                            <tr>
                                                                <td class="studentMarkDetails" style="padding-bottom: 4px;">
                                                                        <label class="greenText"></label>
                                                                </td>
                                                            </tr>
                                                     </tbody>
                                                </table>
                                </div>
                                            <!-- /ko -->
                        </div>
                    </div>
                
                </span>

        </span>
    </div>
    </div>
    

@section Scripts{
<script>
    $('.tooltipped').tooltip({ delay: 50 });
    var globalView = null;
    function Holland() {
        $('.content-test').show();
        $('.content-subjects').hide();
        $('.test-button').css('background-color', 'gainsboro');
        $('.subject-button').css('background-color', 'transparent');
    }
    function Subjects() {
        $('.content-test').hide();
        $('.content-subjects').show();
        $('.subject-button').css('background-color', 'gainsboro');
        $('.test-button').css('background-color', 'transparent');
    }
    $(document).ready(function () {
        var a = $(".surname").text();
        //$("#surname").prop("title", $("#surname").val());
        var viewModel = new StudentsAllViewModel("lastName");
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });
</script>
}

   