@model GroupViewModel

@using (Html.BeginForm("Create", "Group", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div  class="form-horizontal">
        <h4  class="createPop-Up">@GlobalRes_ua.createAction</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2 createPop-Up">@GlobalRes_ua.longName</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control createPop-Up", maxlength ="49", pattern = "A-z0-9" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 createPop-Up">@GlobalRes_ua.shortName</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control createPop-Up", maxlength = "19", pattern = "[A-z0-9]" } })
                @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 createPop-Up">@GlobalRes_ua.yearOfStartingEducation</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control createPop-Up", max = "2050", min = "1960", pattern = "[0-9]" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 createPop-Up">
                <button type="reset" class="btn grey btn-default declineCreate">@GlobalRes_ua.cancel</button>
                <input type="submit" value="@GlobalRes_ua.save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

