@model List<GroupViewModel>

@Styles.Render("~/Content/Site.css")
<h2>ListGroups</h2>

<button type="submit" class="create">
    Create new group
</button>
<table class="table">
    <tr>
        <th>
           FullName
        </th>
        <th>
            ShortName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>                                                                     
            @*@Html.ActionLink("Edit", "UpdateGroup","Group" ,new { id = item.Id }) |*@
            @Html.ActionLink("Details", "GetStudents", "Student", new { groupId = item.Id }, null) |
            @Html.ActionLink("Delete", "DeleteGroup", new {id = item.Id })
        </td>
    </tr>
}
</table>

<div id ="createGroup">
    <div id="create">
        @Html.Partial("CreateGroup", new GroupViewModel())
    </div>
</div>

@section Scripts
{
   @Scripts.Render("~/Scripts/Index.js")
}

