@model TestFactory.MVC.ViewModels.GroupViewModel
@Styles.Render("~/Students/css")
@using Embedded_Resource
<div>
    <form>
        <h3 id="groupName" data-bind="text: $root.subjectsInGroup.fullName"></h3>
        <table id="tbStudentList" data-bind="validationOptions: {errorElementClass: 'invalid'}">
            <thead>
                <tr class="noselect">
                    <th class="last-name">
                        <div class="triangle-wrapper">
                            <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('name');} ">Name </a> @*TODO: add recourse*@
                            <div data-bind="css: selectedClassForSortedField"></div>
                        </div>
                    </th>

    @if (User.IsInRole(RoleNames.Filler))
    {
                    <tr>
                        <td class="last-name">
                            <!-- typeahead binding handler  -->
                            <input id="subjectPicker" type="text"
                                   data-position="bottom"
                                   data-bind="typeahead: { source: $root.searchSubjects, minLength: 1 }, value: $root.subjectForCreate().name, tooltip: { message: $root.subjectForCreate().name.error }"
                                   maxlength="100"
                                   placeholder="Name" />  @*TODO: add recourse*@
                        </td>
                        <td colspan="3" class="screenMediaAbove ">
                            <button class="btn btn-success  " data-bind="click: $root.saveAddedSubject">@GlobalRes_ua.save</button>
                        </td>
                        <td colspan="2" class="screenMediaBelow ">
                            <a class="btn  btn-success" data-bind="click: $root.saveAddedSubject"><img src="~/Content/images/document_save.png" /></a>

                        </td>
                    </tr>
    }
            </thead>
            <tbody data-bind="foreach: subjectsInGroup.subjects">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td class="last-name" data-bind="text: name"></td>
                    @if (User.IsInRole("Filler"))
    {
                        <td class="screenMediaBelow ">
                            <a class="  btn btn-size btnStudent" data-bind="click: $root.editSubject"><img src="~/Content/images/edit.png" /></a>
                        </td>

                        <td class="screenMediaAbove ">
                            <a class="  btn  btn-size btnStudent " data-bind="click: $root.editSubject">@GlobalRes_ua.edit</a>
                        </td>
                    }
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td class="last-name edit"><input type="text" data-position="bottom" data-bind="textInput: $root.subjectForUpdate().name,  tooltip: { message: $root.subjectForUpdate().name.error }" maxlength="255" /></td>
                    <td colspan="3" class="screenMediaBelow ">
                        <a class="btn btn-size btnStudent " data-bind="click: $root.saveEditedSubject"><img src="~/Content/images/document_save.png" /></a>
                    </td>
                    <td colspan="3" class="screenMediaAbove ">
                        <a class=" btn btnStudent " data-bind="click: $root.saveEditedSubject">@GlobalRes_ua.save</a>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>

                                </div>
@section Scripts{
    <script>
        var globalView = null;
        $(document).ready(function () {
            var group = @Html.Raw(Json.Encode(Model));
            var viewModel = new SubjectViewModel(group);
            globalView = viewModel;
            ko.applyBindings(viewModel);
        });

    </script>
    }

